  body,html {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding: 0;
  }

  .nodisplay {
    display: none;
  }

  li {
    list-style: none;
    padding: 0;
    margin:0;
  }

  ul {
    margin:0;
    padding:0;
  }

  .details p {
    line-height: normal;
    font-size: smaller;
  }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
  }

  article {
    padding: 20px 0;
    line-height: 25px;
  }

  article h3 {
    text-transform: uppercase;
    font-weight: bold;
  }
  .blueHighlight {
    background-color: #1ccaf9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .blueTitle {
    color:white;
    font-size: 46px;
    font-weight: 900;
    line-height: 50px;
    flex-basis: 30%;
  }

  .details {
    display: flex;
    flex-direction: row;
  }

  .details div:not(.learnMore) {
    margin:50px;
  }

  .details i {
    font-size: 75px;
    margin-left: 40%;
    color: #f15a24;
  }
  .learnMore {
    display: inline-block;
    padding: 3px 8px;
    border: 5px solid #53c8f6;
  }

  footer {
    background-color: black;
    padding: 20px 40px;
    color: white;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /*.footer-links div:first-of-type {
    border-right: 1px solid white;
  }*/

  .footer-links li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  footer p {
    font-size: x-small;
  }

  .main-header {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    /*background: -webkit-gradient(linear, left, right, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgb(211, 222, 39)), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;*/      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(211, 222, 39) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(211, 222, 39) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(211, 222, 39) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(211, 222, 39) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
  }

  .header {
    background-image: url("https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048");
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
    text-align: right;
    padding: 50px;
  }

  .about-header-p {
    font-weight: 100;
    font-size: x-large;
  }
  .header p:first-of-type {
    flex-basis: 20%;
    font-size: 80px;
/*    margin-right: 20px;
*/  }

  .about-header {
    background-color: #662d91;
    color: white;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
  }

  .about-header div {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 85px auto;
  }

  .header h1 {
    margin:0;
    font-size: 80px;
    text-align: left;
    line-height: 70px;
    flex-basis: 30%;
  }

  .people-header {
    color: #2e3192;
    font-weight: 900;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
    justify-content: flex-start;
  }

  .people-header h1 {
    flex-basis: 58%;
    line-height: 90%;
    font-size: 60px;
  }

  .people-content article:not(:last-of-type) {
    border-bottom: 1px solid;
  }

  .name {
    color:#2e3192;
    font-weight: 900;
    padding-right: 20px;
    border-right: 1px solid;
  }

  span.title {
    margin-left: 20px;
    font-weight: 100;
    text-transform: none;
  }

  .people-content h3 {
    font-size: 25px;
  }

/*-----------------------------------------------*/
/*-----------------------FAQ---------------------*/
/*-----------------------------------------------*/
  ol>li {
    list-style: unset;
    font-size: 25px;
  }

  li h3 {
    color:#7ac943;
    font-weight: 600;
    margin: 0;
  }

  li article {
    font-size: initial;
    padding: 10px 0;
  }

  .faq-header {
    background-color: #7ac943;
    color: white;
    justify-content: flex-start;
    padding: 50px;
    height: unset;
  }

  .faq-header h1 {
    margin-left: 13%;
  }

  section {
    margin: 20px 0;
  }

  section>h3 {
    color:black;
    font-weight: 900;
    font-size: 1.4em;
  }

/*-----------------------------------------------*/
/*--------Domestic Violence initiative-----------*/
/*-----------------------------------------------*/

  .initiative-header {
    justify-content: flex-start;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    /*background: -webkit-gradient(linear, left, right, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgb(211, 222, 39)), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;*/      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(211, 222, 39) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(211, 222, 39) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(211, 222, 39) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(211, 222, 39) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;

  }

  .initiative-overview {
    background-color: #fcee21;
    padding: 50px 0;
    display: flex;
    justify-content: center;
  }

  .initiative-overview li {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-bottom: 50px;
  }

  .initiative-overview li p {
    margin: 3px 0;
  }

  .initiative-overview li h3 {
    color:black;
    font-size: 1.5em;
  }

  .initiative-overview li div:first-of-type {
    font-size: 60px;
  }

  .initiative-overview li div:nth-child(2) {
    flex-basis: 80%;
  }
  .initiative-overview ul {
    max-width: 1000px;
  }

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*------Educational mentoring initiative --------*/

  .edu-header {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    /*background: -webkit-gradient(linear, left, right, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgb(211, 222, 39)), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;*/      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(211, 222, 39) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(224, 95, 87) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(224, 95, 87) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(224, 95, 87) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
  }

  .red-info {
    background-color: #ef494d;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .red-info h1 {
    color:white;
    font-size: 3.5em;
    font-weight: 800;
    margin: 0;
    line-height: 1em;
    max-width: 1000px;
  }

  .red-info h1:first-of-type {
    font-weight: 900;
    font-size: 5em;
  }

  .red-info p {
    max-width: 1000px;
    font-weight: 300;
    font-size: 1.1em;
  }

  .edu-overview {
    background-color: white;
  }

  .edu-overview li h3 {
    color: tomato;
  }

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*------Success Stories--------------------------*/

.stories-header {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
  /*background: -webkit-gradient(linear, left, right, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgb(211, 222, 39)), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;*/      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(211, 222, 39) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(224, 95, 87) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(224, 95, 87) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgb(247,147,30) 100%), url('https://media.istockphoto.com/photos/successful-businesswoman-picture-id934181642?s=2048x2048') no-repeat;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.stories-header h1:first-of-type {
  padding-left: 1.3em;
}

.stories-header h1:nth-child(2) {
  max-width: 300px;
}

#blue-info {
  border-bottom: 15px solid #d7d6d5;
}

#blue-info h1 {
  font-size: 2.5em;
  margin: 30px;
}

.success-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.success-list li:not(:last-of-type) {
  border-bottom: 1px solid;
}

.success-list li>div {
  flex-basis: 85%;
}

.success-list li>img {
  border-radius: 100%;
}

.success-list li i {
  font-size: 2em;
}

.success-list li h3 {
  color: #f79f38;
}

.success-list li p {
  margin: 5px 0;
  font-size: .9em;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------Donate-----------------*/

.donate-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  color: white;
  height: 420px;
}

.donate-header h1 {
  font-size: 6.5em;
  font-weight: 900;
  padding: 0;
  margin: 0;
  line-height: initial;
}

.donate-header h2 {
  text-align: left;
  font-size: 2.5em;
  letter-spacing: -0.04em;
  font-weight: 900;
  line-height: 1em;
  margin: 0;
  paddin:0;
}

.give {
  background-color: #3fa9f5;
}
.give-grid {
  padding: 50px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto;
  max-width: 1000px;
  margin: 0 auto;
}

.title-donate {
  font-size: 2em;
  line-height: normal;
  color: #53abf2;
  letter-spacing: .01em;
  text-transform: capitalize;
}

.give-option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.give-option p {
  flex-grow: 1;
}

.give-grid h1 {
  color: white;
}

.give-button {
  border:4px solid white;
  color: white;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  align-self: start;
}

.ways-to-give {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 50px;
}

.ways-to-give h1 {
  font-weight: 900;
}

.ways-to-give li:not(:last-of-type) {
  border-bottom: 1px solid;
}

.ways-to-give li {
  margin-bottom: 35px;
}

.ways-to-give h3 {
  color: #53abf2;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.ways-to-give p {
  margin: 5px 0 30px 0;
  font-size: .88em;
}
